/*=====================================================
Important! 
/js/svg-icons.js is required.
======================================================= */

/*=====================================================
Font Awesome 4.4 as SVG Icons via http://fontastic.me  
class = .fa- (Go to https://fortawesome.github.io/Font-Awesome/icons/)

SVG ICONS - Don't use icon fonts: 
https://speakerdeck.com/ninjanails/death-to-fa-fonts
======================================================= */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v7/sKd0EMYPAh5PYCRKSryvW6CWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: medium;
  src: local('Quicksand Medium'), local('Quicksand-Medium'), url(https://fonts.gstatic.com/s/quicksand/v7/FRGja7LlrG1Mypm0hCq0DonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: bold;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url(https://fonts.gstatic.com/s/quicksand/v7/32nyIRHyCu6iqEka_hbKsonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}


#gp-logo {  
	width: auto;
  height: 5vh;
  z-index: 1;
}

#gp-logo img {
  font-family: "Quicksand";
	width: auto;
	height: 100%;
}

.reveal {
	width: 100%;
	height: 95%;
}
